*{
  background-color: white;
}
h1{
 color: rgb(116, 144, 173) ;
 
 text-align: center;
font-family: var(--bs-body-font-family);
height: 60px;

}

form{
  margin-top: 1px;
   /* padding: 650px; */
   width: 50px;
    padding-top: 50px;
      padding-left: 40%;
      display: block;
   /* padding-top: 30px; */
  
  
}
.form{
  margin-top: 1px;
    padding: 650px;
    width: 200px;
    padding-top: 30px;
}

.h3{
  padding-top: 50px;
  text-align: center;
  color: rgb(125, 117, 106);
}
.firstpage{
  padding-top: 50px;
  padding-left: 40%;
  
}

.delete-button{
  margin-left: 15px;
  
  
}
.button{
 
  background-color: aquamarine;
  width: 200px;
}
.viewDog{
  padding-top: 50px;
    padding-left: 30%;
     text-align: left;
}

.bild{
  width: 300px;
  height: 200px;
}
p1{
  color: green;
}
p2{
  color: red;
}

span{
  color: rgb(56, 56, 165);
  text-decoration-line: underline;
}
